* {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

*:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
}

.validation-summary-valid ul,
.validation-summary-errors ul {
    list-style: none;
    margin: 0;
    padding: 0;
}