* {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

*:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
}

.validation-summary-valid ul,
.validation-summary-errors ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.field-validation-error span{
    font-size: 14px;
}

.general-error:not(:empty) {
    background: rgba(255, 0, 0, 0.1);
    user-select: none;
    color: #dc3545;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
}
