@using Oniria.Core.Domain.Entities
@model List<GenderEntity>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mondongo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img style="width: 100px; height:100px;" src="~/imagenes/cat.png" />
    <h1>larry...</h1>
    <h1>
        DATA FROM MODEL: 
        @foreach (GenderEntity gender in Model)
        {
            <p>@gender.Description</p>
        }
    </h1>
</div>