<style>
    .avatar {
        cursor: pointer;
    }

    .avatar span {
        font-size: 0.8rem;
    }

    .dropdown-item {
        color: #818181 !important;
        font-size: 0.6rem;
        display: flex;
        gap: 8px;
    }

    .dropdown-item:active {
        color: white !important;
    }

    .dropdown-menu {
        border: 0.5px solid rgba(0,0,0,0.1);
    }

    .search input, .search i {
        font-size: 0.7rem;
    }

    .search-button {
        background-color: white;
        transition: background-color 0.3s ease;
    }

        .search-button:hover {
            background-color: #f1f1f1;
        }


</style>
<!-- Barra de búsqueda -->
<form class="d-flex mx-auto" style="max-width: 400px; width: 100%;">
    <div class="input-group search">
        <button class="search-button input-group-text border-0" asp-action="" asp-controller="">
            <i class="bi bi-search text-secondary"></i>
        </button>
        <input class="form-control border-0 rounded-0" type="search" placeholder="Search..." aria-label="Search">
    </div>
</form>

<!-- Avatar + nombre + dropdown -->
<div class="d-flex align-items-center ms-3">
    <div class="dropdown">
        <a class="avatar d-flex align-items-center text-decoration-none dropdown-toggle gap-2 text-secondary" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="~/images/icons/notLoggedUserAvatar.png" alt="avatar" width="32" height="32" class="rounded-circle avatar">
            <span>Loremipsum</span>
        </a>
        <ul class="dropdown-menu shadow-sm p-0">
            <li>
                <a class="dropdown-item" asp-action="" asp-controller="">
                    <i class="bi bi-person-bounding-box"></i>
                    Profile
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-action="" asp-controller="">
                    <i class="bi bi-box-arrow-left"></i>
                    Sing out
                </a>
            </li>
        </ul>
    </div>
</div>