@inherits Oniria.Extensions.BaseRazor
<!DOCTYPE html>
<html lang="en">
<head>
    @* STYLES AND CONFIGS *@
    <partial name="Layouts/Base/_LayoutHeadConfigs" />
    <partial name="Layouts/Base/_LayoutStyles" />
</head>
<body>

    <div class="d-flex flex-column vh-100" style="background-color: #F5F6FA;">
        <!-- TOP BAR -->
        <partial name="Layouts/TopBars/_TopMenu" />

        <!-- CONTENT -->
        <div class="flex-grow-1 d-flex overflow-hidden">

            <!-- SIDE BAR -->
            @if ((await LoggedUserAsync()) != null)
            {
                <partial name="Layouts/SideBars/_SideMenu" />
            }

            <!-- MAIN CONTENT -->
            <main role="main" class="flex-grow-1" style="overflow-y: scroll;">
                @RenderBody()
            </main>

        </div>
    </div>

    @* SCRIPTS *@
    <partial name="Layouts/Base/_LayoutScripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
