<!DOCTYPE html>
<html lang="en">
<head>
    @* STYLES AND CONFIGS *@
    <partial name="Layouts/Base/_LayoutHeadConfigs" />
    <partial name="Layouts/Base/_LayoutStyles" />
</head>
<body>
    @* MAIN CONTENT *@
    <main role="main">
        @RenderBody()
    </main>

    @* SCRIPTS *@
    <partial name="Layouts/Base/_LayoutScripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
